{% extends 'base.html' %}

{% block title %}Our Menus{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Our Menus</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if post.image %}
                <img src="{{ post.image.image_url }}" class="card-img-top" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.blurb }}</p>
                    <a href="{% url 'menu_detail' post.pk %}" class="btn btn-accent">View Menu</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
